body,.modal-content,.panel-body,.list-group-item,.well/*temporaneo causa introduzione skin*/
{
    background-color:#111111 !important; 
    color:white !important;
}
.well/*Non Temporaneo*/
{
    border-color:gray;
}
.well.text-center/*non temporaneo bordo fastidioso di ogni parte della playlist*/
{
    margin:0%;
}
.btn-primary /*stessa cosa per sta roba di padiing fastidioso dei link delle anteprime video*/
{
  padding:1%;
}